.app {
  margin: 10px;
}

.app-header,
.app-body {
  width: 70vw;
  margin: auto;
  padding: 20px;
}

.app-header{
  font-size: 18px;
  font-weight: 500;
}

.editor-container {
  box-sizing: border-box;
  height: 70vh;
  border: 1px solid gray;
  margin-bottom: 20px;
  padding: 20px;
  overflow-y: auto;
}

