.app {
  margin: 30px;
}

.app-header,
.app-body {
  
  width: 70vw;
  margin: auto;
  padding: 20px;
}

.app-header{
  font-size: 18px;
  font-weight: 500;
}

.app-body {
  box-sizing: border-box;
  min-height: 50vh;
  border: 1px solid gray;
}

